<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button type="button" class="btn btn-outline-light" [routerLink]="['/home']">Fizjo</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a [routerLink]="['/home']" class="nav-link">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/about-me']">O mnie</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/services']">Usługi</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/contact']">Kontakt</a>
        </li>
      </ul>
      <form class="form-inline mt-md-0">
        <button type="button" class="btn btn-outline-light my-sm-1" [routerLink]="['/registration']" id="registration">Rejestracja wizyty</button>
      </form>
    </div>
  </nav>

  <main role="main" flex>
    <div class="ng-view">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <br>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer bg-dark">
      <div class="container">
        <span class="text-muted">Wykorzystano Bootstrap v4.</span>
      </div>
  </footer>
</body>