<div class="card">
  <div class="card-header text-center">
    <br>
    <h3>Prosze o wybranie daty a nastepnie godziny wizyty.</h3>
  </div>
  <div class="card-block justify-content-cente">
    <form [formGroup]="calendarForm" novalidate>
      <div class="row">
      <div class="col">
        <br>
        <my-date-picker name="mydate" [options]="MyDatePickerOptions" (dateChanged)="pickDate($event)" formControlName="myDate"></my-date-picker>
      </div>
      <div class="col">
        <div class="btn-group-vertical">
          <button type="button" id="button1" (click)="pickTime()" class="btn btn-dark"> 8:00 - 9:00</button>
          <button type="button" class="btn btn-dark"> 9:00 - 10:00</button>
          <button type="button" class="btn btn-dark">10:00 - 11:00</button>
          <button type="button" class="btn btn-dark">11:00 - 12:00</button>
          <button type="button" class="btn btn-dark">12:00 - 13:00</button>
          <button type="button" class="btn btn-dark">13:00 - 14:00</button>
          <button type="button" class="btn btn-dark">14:00 - 15:00</button>
          <button type="button" class="btn btn-dark">15:00 - 16:00</button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div><br>