<div class="card">
  <div class="card-block justify-content-cente">
    <form [formGroup]="calendarForm" novalidate>
      <div class="row">
        <div class="col-md-5">
          <my-date-picker name="mydate" [options]="MyDatePickerOptions" formControlName="myDate"></my-date-picker>
        </div>
        <div class="col-md-5">
          <div class="btn-group-vertical">
            <button type="button" class="btn btn-dark">8:00 - 9:00</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-dark">Dark</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>