.card-block {
    margin-left: 17%;
    padding: 20px;
    float: none;
}
.card {
    -webkit-box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.39);
}
button {
    background-color: #008975;
    color: white;
    border: none;
}
button:focus,
button:hover {
    background-color: #00AA8D;
    box-shadow: none;
    border: none;
}
.btn-success {
    background-color: #427A82;
}
.btn-success:focus,
.btn-success:hover {
    background-color: #69969C;
}
.btn-group-vertical {
    margin-left: -20%;
}
.btn {
    background-color: #427A82;
    color: white;
}
.btn:focus {
    background-color: rgb(141, 181, 186);
}
.btn:hover {
    background-color: #69969C;
}
.btn-block {
    width: 81%;
    background-color: #4DB6AC;
}
.btn-block:hover,
.btn-block:focus {
    background-color: #80CBC4;
}
:disabled,
:disabled:focus,
:disabled:hover {
    background-color: #ff0000;
    border: 0;
}