<br>
<br>
<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="contact">KONTAKT</h1>
    <!-- <p class="lead">Poniżej zostały wyświetlone wszystkie artykuły.</p> -->
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>DANE KONTAKTOWE</h3>
  </div>
  <div class="col">
    <h3 class="online">REJESTRACJA ONLINE</h3>
  </div>
</div>
<div class="row">
  <div class="col-1 text-right">
    <i class="material-icons md-48">email</i>
  </div>
  <div class="col-3 text-left">
    <span>
      <b>mateuszkobuszewski94@gmail.com</b>
    </span>
  </div>
  <div class="col-5">
    <button type="button" class="btn btn-outline-info my-sm-1 register" [routerLink]="['/registration/personal']" id="registration">Rejestracja wizyty</button>
  </div>
</div>
<div class="row">
  <div class="col-1 text-right">
    <i class="material-icons md-48">phone_iphone</i>
  </div>
  <div class="col-3 text-left">
    <span>
      <b>+48 505 932 767</b>
    </span>
  </div>
  <div class="col-6">
    <h3 class="rejestr">REJESTRACJA TELEFONICZNA</h3>
  </div>
</div>
<div class="row">
  <div class="col-1 text-right">
    <i class="material-icons md-48">location_on</i>
  </div>
  <div class="col-3 text-left">
    <b>42-450 Wysoka
      <br> ul. Konopnickiej 4</b>
  </div>
  <div class="col-6">
    <h3 class="phone">+48 501 922 191</h3>
  </div>
</div>
<div class="row">
  <div class="col">

  </div>
</div>
<div class="row">
  <!-- <div class="text-center"> -->
  <div class="col">
    <h4 class="mediaa"></h4>
  </div>
  <div class="col media2">
    <a target="_blank" href="https://www.facebook.com/" class="btn media1">
      <i class="fa fa-facebook-square"></i>
    </a>
    <a target="_blank" href="https://www.instagram.com/" class="btn media1">
      <i class="fa fa-instagram"></i>
    </a>
    <a target="_blank" href="https://twitter.com/?lang=pl" class="btn media1">
      <i class="fa fa-twitter"></i>
    </a>
  </div>
  <!-- </div> -->
</div>
<br>
<div class="jumbotron jumbotron-fluid road">
  <div class="container">
    <h1>DOJAZD</h1>
    <p class="lead">Zobacz gdzie nas możesz znaleźć.</p>
  </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162686.51926337456!2d19.3529005!3d50.42290270000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471720cd5fbaab8b%3A0x9dff67fcb09e94b6!2sWysoka+k+Zawiercia%2C+42-450!5e0!3m2!1spl!2spl!4v1519848292625"
  allowfullscreen></iframe>
<br>
<br>
<div class="jumbotron jumbotron-fluid msg">
  <div class="container">
    <h1 class="sendMsg">NAPISZ DO NAS!</h1>
    <br>
    <div class="card">
      <div class="card-header text-center">
        <div class="text-center">
          <h2>Formularz kontaktowy</h2>
          <p>Prosze wypełnić dane osobowe.</p>
        </div>
      </div>
      <div class="card-block">
        <form [formGroup]="contactForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-md-5">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-sm mt-4">
                <label for="name">Imię
                  <small class="text-danger">*</small>
                </label>
                <input #names type="text" class="form-control" id="name" formControlName="name" placeholder="Twoje imie">
                <div *ngIf="contactForm.get('name').hasError('required') && contactForm.controls.name.touched" class="text-danger">To pole jest wymagane.</div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-sm mt-4">
                <label [class.active]="surname.value" for="surname">Nazwisko
                </label>
                <input mdbActive #surname type="text" class="form-control" id="surname" formControlName="surname" placeholder="Twoje nazwisko">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-sm mt-4">
                <label for="email">Email</label>
                <small class="text-danger">*</small>
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="Kowalski@email.com">
                <div *ngIf="contactForm.get('email').hasError('required') && contactForm.controls.email.touched" class="text-danger">To pole jest wymagane.</div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-sm mt-4">
                <label for="phone">Numer telefonu</label>
                <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="100200300">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-sm mt-4">
                <label for="textArea">Treść wiadomości</label>
                <textarea class="form-control" id="textArea" formControlName="textArea" placeholder="Tutaj prosze wpisać treść wiadomości"
                  rows="3"></textarea>
                <div *ngIf="contactForm.get('textArea').hasError('required') && contactForm.controls.textArea.touched" class="text-danger">To pole jest wymagane.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <br>
              <button class="btn btn-block">Wyślij</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
  </div>
</div>