<br><div class="card">
  <div class="card-header text-center">
    <br>
    <h3>Logowanie do panelu admina</h3>
  </div>
  <div class="card-block justify-content-center"><br>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Adres Email" required autofocus>
    <br><label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Pamietaj hasło
      </label>
    </div> -->
    <br>
    <button class="btn btn-block" (click)="login()">Zaloguj</button><br>
  </div>
</div>