<div class="text-center">
  <br>
  <h3>Podsumowanie rezerwacji</h3>
  <p>Poniżej zostały wyświetlone informacje dotyczące rezerwacji.</p>
  <div class="col-md-auto">
    <a class="btn btn-lg active disabled" [routerLinkActive]="['active']" [routerLink]="['/registration/personal']" aria-pressed="true">
      <i class="material-icons">person</i>
    </a>
    <a class="btn btn-lg active disabled" [routerLinkActive]="['active']" [routerLink]="['/registration/calendar']" aria-pressed="true">
      <i class="material-icons">today</i>
    </a>
    <a class="btn btn-lg active" [routerLinkActive]="['active']" [routerLink]="['/registration/summary']" aria-pressed="true">
      <i class="material-icons">description</i>
    </a>
  </div>
</div><br>
<div class="card">
    <div class="card-header text-center">
      <br>
      <h3></h3>
    </div>
    <div class="card-block justify-content-cente">
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row">
        </div>
    </div>
  </div>
  <br>