<div class="card">
  <div class="card-header text-center">
    <br>
    <h3>Rejestracja wizyty</h3>
    <p>Prosze wypełnić dane a w nastepnym kroku wybrać odpowiadający termin.</p>
    <div class="col-md-auto">
        <a class="btn btn-secondary btn-lg active" [routerLink]="['/registration/personal']" role="button" aria-pressed="true">
          <i class="material-icons" role="button">person</i>
        </a>
        <a class="btn btn-secondary btn-lg active" [routerLink]="['/registration/calendar']" role="button" aria-pressed="true">
          <i class="material-icons" role="button">today</i>
        </a>
        <a class="btn btn-secondary btn-lg active" [routerLink]="['/registration/summary']" role="button" aria-pressed="true">
          <i class="material-icons" role="button">description</i>
        </a>
      </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col"><br>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>