<div class="text-center">
  <br>
  <h3>Rejestracja wizyty</h3>
  <p>Prosze wypełnić dane osobowe.</p>
  <div class="col-md-auto">
    <a class="btn btn-lg active" [routerLinkActive]="['active']" [routerLink]="['/registration/personal']" aria-pressed="true">
      <i class="material-icons">person</i>
    </a>
    <a class="btn btn-lg active disabled" [routerLinkActive]="['active']" [routerLink]="['/registration/calendar']" aria-pressed="true">
      <i class="material-icons">today</i>
    </a>
    <a class="btn btn-lg active disabled" [routerLinkActive]="['active']" [routerLink]="['/registration/summary']" aria-pressed="true">
      <i class="material-icons">description</i>
    </a>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header text-center">
    <br>
    <h3>Potrzebne dane osobowe do rejestracji.</h3>
  </div>
  <div class="card-block justify-content-cente">
    <form [formGroup]="registrationForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-md-5">
          <div class="form-sm mt-4">
            <label [class.active]="pesel.value" for="pesel" class="control-label">PESEL
              <small class="text-danger">*</small>
            </label>
            <input #pesel type="text" (change)="checkDate()" class="form-control" id="pesel" formControlName="pesel" placeholder="numer pesel">
            <div *ngIf="registrationForm.get('pesel').hasError('required') && registrationForm.controls.pesel.touched" class="text-danger">To pole jest wymagane.</div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-sm mt-4">
            <label for="dateOfBirth" class="control-label">Data urodzenia</label>
            <input #dateOfBirth type="text" id="dateOfBirth" formControlName="dateOfBirth" class="form-control" placeholder="Data pokaże sie po wpisaniu nr pesel"
              disabled autofocus>
            <div *ngIf="registrationForm.get('dateOfBirth').hasError('required') && registrationForm.controls.dateOfBirth.touched" class="text-danger">To pole jest wymagane.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-sm mt-4">
            <label for="name">Imię
              <small class="text-danger">*</small>
            </label>
            <input #names type="text" class="form-control" id="name" formControlName="name" placeholder="Twoje imie">
            <div *ngIf="registrationForm.get('name').hasError('required') && registrationForm.controls.name.touched" class="text-danger">To pole jest wymagane.</div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-sm mt-4">
            <label [class.active]="surname.value" for="surname">Nazwisko
              <small class="text-danger">*</small>
            </label>
            <input mdbActive #surname type="text" class="form-control" id="surname" formControlName="surname" placeholder="Twoje nazwisko">
            <div *ngIf="registrationForm.get('surname').hasError('required') && registrationForm.controls.surname.touched" class="text-danger">To pole jest wymagane.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-sm mt-4">
            <label for="email">Email</label>
            <small class="text-danger">*</small>
            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Kowalski@email.com">
            <div *ngIf="registrationForm.get('email').hasError('required') && registrationForm.controls.email.touched" class="text-danger">To pole jest wymagane.</div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-sm mt-4">
            <label for="phone">Numer telefonu</label>
            <small class="text-danger">*</small>
            <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="100200300">
            <div *ngIf="registrationForm.get('phone').hasError('required') && registrationForm.controls.phone.touched" class="text-danger">To pole jest wymagane.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-9">
          <br>
          <button class="btn text-center border0">Dalej</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>