.card-block {
    margin-left: 14%;
    float: none;
    margin-bottom: 30px;
}
.card {
    -webkit-box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.39);
}
.card-header {
    /* color: white;
    background: url('/assets/image/space2.jpg') no-repeat center center; */
}
.btn {
    background-color: #427A82;
    color: white;
}
.btn:focus,
.btn:hover {
    background-color: #69969C;
}