<div class="container marketing">
  <div class="row" id="aboutMe">
    <div class="col-lg-4 mx-auto">
      <img class="rounded-circle adjust1" id="image" src="./assets/image/basket.jpeg" alt="Generic placeholder image" width="200"
        height="200" [@round]="rotate">
      <h1>Fizjoterapeuta</h1>
      <p>Witam serdecznie, swoją przygode z fizjoterapią zacząłem w roku 2000. Zacząłem wtedy studia na Katowickim AWF. Równolegle
        ze studiami brałem udział w wielu kursach oraz praktykach. Po zdobyciu magistra pracowałem dwa lata w firmie Med-Plus.
        Po dwóch latach stwierdziłem, że to czas na założenie własnej działalności.
      </p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="col-lg-7 mx-auto">
    <h2 class="featurette-heading">GALERIA.
      <span class="text-muted">Zdjęcia naszej codziennej pracy.</span>
    </h2>
  </div>

  <div class="card-group col-lg-6">
    <div class="card">
      <img class="card-img-top" src="./assets/image/reh.jpg" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/image/reh1.jpg" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/image/reh2.jpg" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/image/reh3.jpeg" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/image/reh4.jpg" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/image/reh5.jpg" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/image/reh6.jpg" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/image/reh7.jpg" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/image/reh8.jpg" alt="Card image cap">
    </div>
  </div>
</div>